.infoTexto {
    border: 1px solid;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 4em;
    width: 50%;
    min-height: 32em;
    line-height: 2em;
    margin-left: 25%;
}

body {
    background: url('../img/fondo8.jpg');
    background-color: #fff;
    color: #fff;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.infoTexto span {
    font-weight: bold;
}

.infoTexto h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .infoTexto {
        margin-left: 0%;
        width: 100%;
        border: none;
        padding: 15px;
    }
}